.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid red; */
  height: 4rem;
  background-color: var(--verde-600);
}

.header__logo img {
  width: 8rem;
}

/* Menu normal */
.header__nav-menu-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header__nav-menu-link {
  text-decoration: none;
  color: var(--blanco-200);
  transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__nav-menu-link:hover {
  text-decoration: underline;
  color: var(--dorado-300);
}

.header__nav-menu-btn {
  text-decoration: none;
  padding: 0.5rem 0.6rem;
  background-color: var(--verde-500);
  color: var(--blanco-50);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.header__nav-menu-btn:hover {
  background-color: var(--dorado-700);
}

.header__nav-menu-btn-close {
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  background-color: var(--rojo-600);
  color: var(--blanco-50);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.header__nav-menu-btn-close:hover {
  background-color: var(--rojo-400);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    row-gap: 2rem;
  }

  .header__logo img {
    width: 16rem;
  }

  .header__nav-menu-list {
    gap: 1rem;
  }
}