.register {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  min-height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__title {
  text-align: center;
  font-size: 3rem;
  color: var(--dorado-800);
}

.register__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  place-items: center;
}

.register__form-group label {
  display: block;
  font-weight: bold;
  color: var(--verde-500);
  font-size: 18px;
  margin-bottom: 1rem;
  transition: color 0.2s ease-in-out;
}

.register__form-group label:hover {
  color: var(--rojo-400);
}

.register__form-input,
.register__form-select {
  padding: 0.9rem;
  border: 1px solid var(--verde-400);
  transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.register__form-input:hover,
.register__form-select:hover {
  border-color: var(--rojo-300);
}

.register__form-input:active,
.register__form-select:active {
  transform: scale(1.06);
}

.register__form-input:focus,
.register__form-select:focus {
  outline: none;
  border-color: var(--dorado-700);
  box-shadow: 0 0 2px var(--verde-500);
}

.register__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.register__form-btn button {
  padding: 1rem 5rem;
  background-color: var(--verde-500);
  color: var(--blanco-50);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.register__form-btn button:hover {
  transform: scale(1.06);
  background-color: var(--dorado-700);
}

.register__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.register__links p {
  text-align: center;
  font-size: 1rem;
}

.register__links a {
  color: var(--verde-500);
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.register__links a:hover {
  text-decoration: none;
  color: var(--dorado-700);
}

@media screen and (max-width: 1200px) {
  .register__title {
    font-size: 2rem;
  }
}